
.container {  display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "button logo button2"
      "conteudo conteudo conteudo"
      ". . contatos"
      "rodapé rodapé rodapé";
  }
  
  .button { grid-area: button; }
<<<<<<< Updated upstream
  .wrapper{
    position: fixed;
    top: 7%;
    left: 7%;
    transform: translate(-50%, -50%);
  }
  
  a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(16, 16, 16);
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
}
  .button {
    border-radius: 4px;
   
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
>>>>>>> Stashed changes
  }
  
  .logo { grid-area: logo; }
  
  .button2 { grid-area: button2;
    border-radius: 4px;
   
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px; }
  .wrapper2{
    position: fixed;
    top: 7%;
    right: -3%;
    transform: translate(-50%, -50%);
  }
  
  
  .conteudo { grid-area: conteudo; }
  
  .contatos { grid-area: contatos; }
  
  .rodapé { grid-area: rodapé; }
  