
.container {  display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "button logo button2"
      "conteudo conteudo conteudo"
      ". . contatos"
      "rodapé rodapé rodapé";
  }
  
  .button { grid-area: button; }
 Updated upstream
  .wrapper{
    position: fixed;
    top: 7%;
    left: 7%;
    transform: translate(-50%, -50%);
  }
  
  a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(16, 16, 16);
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
   a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
  
   .bugado a:hover{
    color: #fff;
  }
  
  .bugado a:hover:after{
    width: 100%;
}
  .button {
    border-radius: 4px;
   
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
/*>>>>>>> Stashed changes*/
  }
  
  .logo { grid-area: logo; }
  
  .button2 { grid-area: button2;
    border-radius: 4px;
   
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px; }
  .wrapper2{
    position: fixed;
    top: 7%;
    right: -3%;
    transform: translate(-50%, -50%);
  }
  
  
  .conteudo { grid-area: conteudo; }
  
  .contatos { grid-area: contatos; }
  
  .rodapé { grid-area: rodapé; }

  .foto {
    position: fixed;
    top: 4%;
    left: 50%;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    
  }
  .foto img {
    width: 100%;
    height: auto;
  }
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
/* animaçôes das fotos */
  .piranha {
    --s: 15px;  /* size of the frame */
    --b: 2px;   /* border thickness */
    --w: 200px; /* width of the image */
    --c: #7B3B3B;
    
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background:
      linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
      linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline: calc(var(--w)/2) solid #0009;
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
  }
  .piranha:hover {
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
  }



.hover-effect{
    align-items: center;
   

}
.hover-effect ul li{
    display: inline-block;
}
.hover-effect ul li a{
    font-size:40px;
    color:#fff;
    margin:0px 10px;
    line-height: 100px;
    display: inline-block;
    width:50px;
    height:50px;
    border-radius: 100%;
    transition: 0.3s all;
    }


<<<<<<< HEAD
.mainmenubtn {
  background-color: skyblue;
  color: white;
  border: none;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
}
.mainmenubtn:hover {
  background-color: blue;
  }
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: skyblue;
  min-width: 200px;
}
.dropdown-child a {
  color: blue;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #10599c;
}
.sidebar {
  height: 100vh;
  width:60px;
  background-color: #16191e;
  transition: width 0.3s;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar:hover {
  width: 160px;
  overflow: visible;
}
nav {
  height: 60vh;
  min-height: 300px;
}
ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li a {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px 0;
  color: #cacaca;
}
li a:hover {
  background-image: linear-gradient(
    left,
    #2a88e6 7px,
    rgba(255, 255, 255, 0.1) 7px
  );
  background-image: linear-gradient(
    to right,
    #2a88e6 7px,
    rgba(255, 255, 255, 0.1) 7px
  );
  color: #ffffff;
}

i.fas {
  font-size: 18px;
  text-align: right;
  color: white;
}
li p {
  width: 75px;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.3px;
  font-weight: 400;
}
=======
.icons  {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}
.icons li {
  list-style: none;
}

.icons li a {
  position: relative;
  width:20px;
  height:20px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.icons li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

.icons li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

.icons li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.icons li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.icons li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.icons li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.icons li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

>>>>>>> f13cf8b17b9748a5e299a09b591408e1d2353e55
